BeautifulSoup==3.2.1
Cython==0.15.1
Django==1.3.1
Flask==0.8
Jinja2==2.6
MySQL-python==1.2.3
PIL==1.1.7
Smap==2.0
Twisted==12.0.0
Werkzeug==0.8.3
avro==1.6.2
bacnet==0.1
bsddb3==5.2.0
certifi==0.0.8
chardet==1.0.1
distribute==0.6.26
fuzzywuzzy==0.1
git-remote-helpers==0.1.0
numexpr==2.0.1
numpy==1.6.1
pcapy==0.10.5
ply==3.4
pymongo==2.1.1
python-dateutil==2.0
python-ldap==2.4.8
requests==0.10.7
scapy==2.1.0
scipy==0.10.1
wsgiref==0.1.2
xlrd==0.7.3
zope.interface==3.8.0
